<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employee.start_date %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>User:</strong>
  <%if @employee.user %>
    <%= link_to @employee.user.full_name, @employee.user %>
  <%else%>
    <p>No User Assigned</p>
  <%end%>
</p>
<p>
  <strong>Manager:</strong>
  <%if @employee.manager %>
    <%= link_to @employee.manager.full_name, @employee.manager %>
  <%else%>
    <p>No Manager Assigned</p>
  <%end%>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
