<%= form_for(@vacation) do |f| %>
  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacation.errors.count, "error") %> prohibited this vacation from being saved:</h2>

      <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @employee %>
    <p>Editing vacation no <%= @vacation.employee_id %> of <%= @employee.full_name %> </p>
  <%else%>
    <div class="field">
      <%= f.text_field :employee_id %>
    </div>
  <%end%>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :employee_comments %><br>
    <%= f.text_area :employee_comments %>
  </div>
  <div class="field">
    <%= f.label :manager_comments %><br>
    <%if @is_priviliged%>
      <%= f.text_area :manager_comments %>
    <%else%>
      <%= @vacation.manager_comments%>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%#allow editing only for priviliged users (it's already taken care in controller, just for consistency%>
    <%if @is_priviliged%>
      <%#= f.number_field :state %>
      <%= f.select :state, [["Waiting for approval", 0], ["Approved", 1], ["Rejected", 2]] %>
    <%else%>
      <%= @vacation.state_string%>
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
