<p id="notice"><%= notice %></p>

<h1>Listing Vacations</h1>

<%if @vacations %>
<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Employee comments</th>
      <th>Manager comments</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacations.each do |vacation| %>
      <tr>
        <td><%= link_to 'Employee', vacation.employee %></td>
        <td><%= vacation.start_date %></td>
        <td><%= vacation.end_date %></td>
        <td><%= vacation.employee_comments %></td>
        <td><%= vacation.manager_comments %></td>
        <td><%= vacation.state %></td>
        <td><%= link_to 'Show', vacation %></td>
        <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
        <td><%= link_to 'Destroy', vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
    <%#currently logged in user has no vacations to display%>
    <p> You have no vacations to show </p>
<%end%>

<br>

<%= link_to 'New Vacation', new_vacation_path %>
